# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# --------------------------------------------------
# IDEs
# --------------------------------------------------
.vscode/
.idea/

# --------------------------------------------------
# Operating System
# --------------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------------
# Python packaging
# --------------------------------------------------
*.egg-info/
build/
dist/

# --------------------------------------------------
# Java / Maven
# --------------------------------------------------
target/

# --------------------------------------------------
# Logs
# --------------------------------------------------
*.log

# --------------------------------------------------
# Environment variables
# --------------------------------------------------
.env
.env.*

# --------------------------------------------------
# Jupyter
# --------------------------------------------------
.ipynb_checkpoints/

# --------------------------------------------------
# Garak Reports
# --------------------------------------------------
garak_runs/

# --------------------------------------------------
# Test / Coverage
# --------------------------------------------------
.coverage
.pytest_cache/
htmlcov/